{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{title}}",
  "description": "{{meta_description}}",
  "url": "{{url}}",
  "datePublished": "TODO: ISO 8601 publish date",
  "dateModified": "TODO: ISO 8601 last-modified date",
  "author": {
    "@type": "Person",
    "name": "TODO: author full name",
    "url": "TODO: author profile URL"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{site_name}}",
    "logo": {
      "@type": "ImageObject",
      "url": "TODO: absolute URL to logo (min 112x112px)"
    }
  },
  "image": "TODO: absolute URL to featured image",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{url}}"
  }
}
